.container {

  .translation-box {
    display: flex;

    .text-container {
      flex: 1 1 0px;
      margin-right: 0.25em;

      textarea {
        min-height: 100px;
      }
    }

    .translation-container {
      flex: 1 1 0px;
      margin-left: 0.25em;
      position: relative;

      .loader {
        position: absolute;
        top: 40%;
        left: 50%;
      }

      textarea {
        min-height: 100px;
      }
    }

    .lighten {
      opacity: 0.5;
    }
  }

  .footer-buttons-container {
    text-align: end;

    app-button-with-label-change-on-click + app-button-with-label-change-on-click {
      margin-left: 1em;
    }
  }

  mat-form-field {
    width: 100%;
  }
}
