<div class="container">
  <mat-card>
    <div class="translation-engine-select">
      <mat-button-toggle-group [(ngModel)]="translationEngine"
                               name="translationEngine" aria-label="Translate engine">
        <mat-button-toggle value="azure">Azure Translate</mat-button-toggle>
        <mat-button-toggle value="google">Google Translate</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>API Key</mat-label>
        <input type="text" matInput
               [(ngModel)]="apiKey">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Text</mat-label>
        <textarea matInput
                  [(ngModel)]="textToTranslate"></textarea>
      </mat-form-field>
    </div>
  </mat-card>

  <div class="translate-button">
    <button [disabled]="!apiKey || !textToTranslate || isLoading"
            (click)="translate()"
            mat-raised-button color="primary">
      Translate
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </button>
  </div>

  <mat-card class="translation-container">
    <mat-form-field appearance="outline">
      <mat-label>Translated text</mat-label>
      <textarea [(ngModel)]="translatedText" matInput disabled></textarea>
    </mat-form-field>
    <button [disabled]="!translatedText || isLoading"
            (click)="copyToClipboard()"
            mat-button>
      Copy
    </button>
    <button [disabled]="!translatedText || isLoading"
            (click)="copyToClipboard(true)"
            mat-button>
      Copy for SQL
    </button>
  </mat-card>

</div>

