.container {
  padding: 5vw 30vw;

  mat-form-field {
    width: 100%;
  }

  .translation-engine-select{
    text-align: center;
    margin-bottom: 1em;
  }

  .translate-button {
    margin: 1em 0;
    text-align: center;
  }

  .translation-container {
    position: relative;

    .copy-translation-btn {
      opacity: 50%;
      position: absolute;
      top: 0;
      right: 0;
      mat-icon{
        font-size: 20px;
      }
    }
  }
}
