<div class="container">
  <mat-card>
    <div class="translation-engine-select">
      <mat-button-toggle-group [(ngModel)]="translationEngine"
                               name="translationEngine" aria-label="Translate engine">
        <mat-button-toggle value="google">Google Translate</mat-button-toggle>
        <mat-button-toggle value="azure">Azure Translate</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>API Key</mat-label>
        <input type="text" matInput
               [(ngModel)]="apiKey">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline">
        <mat-label>Text</mat-label>
        <textarea matInput
                  [(ngModel)]="textToTranslate"></textarea>
      </mat-form-field>
    </div>
  </mat-card>

  <div class="translate-button">
    <button [disabled]="!apiKey || !textToTranslate"
            mat-raised-button color="primary">
      Translate
    </button>
  </div>

  <mat-card>
    <mat-form-field class="translated-text-input" appearance="outline"
                    (click)="copyToClipboard(translatedText)">
      <mat-label>Translated text</mat-label>
      <textarea [(ngModel)]="translatedText" matInput disabled
      title="Copy to clipboard"></textarea>
    </mat-form-field>
  </mat-card>

</div>

